# Tarea 1: DS Lab
- Ricardo Arancibia
- José Díaz
- Javier Santibáñez

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## P1

In [107]:
df_all = pd.read_csv('data/raw/w{}/metrocuadrado_all_w{}.csv'.format(str(13),str(13)))
for NN in range(14,18):
    direc = 'data/raw/w{}/metrocuadrado_all_w{}.csv'.format(str(NN),str(NN))
    df_aux = pd.read_csv(direc)
    # df_all.merge(df_aux)
    df_all = pd.concat([df_all,df_aux], ignore_index= True)
df_all['Archivo'] = 'all' 
df_all.drop_duplicates(inplace=True, ignore_index= True)
print(df_all.shape)
df_all.head()

(16295, 9)

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index,Archivo
0,"Casa en Arriendo, LA SOLEDAD NORTE Bogotá D.C..",$1.050.000,3,2,63.0 m2,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6,all
1,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3,2,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3,all
2,"Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...",$750.000,3,1,90.0 m2,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2,all
3,"Casa en Arriendo, PARIS GAITAN Bogotá D.C..",$3.400.000,5,4,71.0 m2,casa ezquinera excelente ubicacion cinco alcob...,https://www.metrocuadrado.com/inmueble/arriend...,56.0,all
4,"Casa en Arriendo, BALCONES DE ORIENTE Bogotá D...",$1.560.000,4,3,96.0 m2,"Excelente casa de tres niveles, buena ubicació...",https://www.metrocuadrado.com/inmueble/arriend...,47.1,all

In [108]:
df_fur = pd.read_csv('data/raw/w{}/metrocuadrado_furnished_w{}.csv'.format(str(13),str(13)))
for NN in range(14,18):
    direc = 'data/raw/w{}/metrocuadrado_furnished_w{}.csv'.format(str(NN),str(NN))
    df_aux = pd.read_csv(direc)
    # df_fur.merge(df_aux)
    df_fur = pd.concat([df_fur,df_aux], ignore_index= True)
df_fur['Archivo'] = 'furnished'
df_fur.drop_duplicates(inplace=True, ignore_index= True)
print(df_fur.shape)
df_fur.head()

(2099, 9)

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index,Archivo
0,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3.0,2.0,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3,furnished
1,"Casa en Venta Y Arriendo, BELLAVISTA Bogotá D.C..",$1.300.000,3.0,2.0,72.0 m2,"hermosa casa en venta y en arriendo en, mandal...",https://www.metrocuadrado.com/inmueble/venta-c...,41.4,furnished
2,"Casa en Arriendo, PORTALES DEL NORTE Bogotá D.C..",$1.800.000,3.0,3.0,76.81 m2,Estrato 4. CASA TRIPLEX!! Exterior . Cuenta co...,https://www.metrocuadrado.com/inmueble/arriend...,41.3,furnished
3,"Casa en Venta Y Arriendo, SANTA SOFIA Bogotá D...",$1.500.000,5.0,3.0,76.22 m2,"Casa en Santa Sofia, excelente ubicación sobre...",https://www.metrocuadrado.com/inmueble/venta-c...,34.2,furnished
4,"Casa en Venta Y Arriendo, URBANIZACION SABANA ...",$145.000.000,3.0,2.0,77.0 m2,"Casa esquinera, de tres niveles, se venden mue...",https://www.metrocuadrado.com/inmueble/venta-c...,62.5,furnished

In [233]:
df = pd.concat([df_all,df_fur],ignore_index= True)
print(df.shape)
df.head()

(18394, 9)

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index,Archivo
0,"Casa en Arriendo, LA SOLEDAD NORTE Bogotá D.C..",$1.050.000,3,2,63.0 m2,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6,all
1,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3,2,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3,all
2,"Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...",$750.000,3,1,90.0 m2,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2,all
3,"Casa en Arriendo, PARIS GAITAN Bogotá D.C..",$3.400.000,5,4,71.0 m2,casa ezquinera excelente ubicacion cinco alcob...,https://www.metrocuadrado.com/inmueble/arriend...,56.0,all
4,"Casa en Arriendo, BALCONES DE ORIENTE Bogotá D...",$1.560.000,4,3,96.0 m2,"Excelente casa de tres niveles, buena ubicació...",https://www.metrocuadrado.com/inmueble/arriend...,47.1,all

In [234]:
df.dropna(subset=['price','n_rooms','n_bath','surface'], inplace=True)
df.reset_index(drop=True,inplace=True)
print(df.shape)

(18143, 9)

In [235]:
df['price'] = [x.replace('$','') for x in df['price']]
df['price'] = [x.replace('.','') for x in df['price']]
df['surface'] = [x.replace(' m2','') for x in df['surface']]
df['price'] = df['price'].astype('float64')
df['surface'] = df['surface'].astype('float64')
for i in range(len(df)):
    x = df['n_bath'][i]
    y = df['n_rooms'][i]
    if type(x)== float:
        df['n_bath'][i] = str(int(x)) # 3.0 <-> '3'
    if type(y)== float:
        df['n_rooms'][i] = str(int(y))
# df.head()

In [236]:
df_aux = df['property_type|rent_type|location'].str.split(pat=',',expand =True)
df_aux[0] = [x.replace(' ',', ', 1) for x in df_aux[0]]
df_aux = pd.concat([df_aux[0].str.split(pat=',',expand =True), df_aux[1]], axis=1, ignore_index=True)
df_aux.columns = ['property_type','rent_type','location']
df_aux['rent_type'] = [x.replace('en ','') for x in df_aux['rent_type']]
# df_aux
df = pd.concat([df_aux,df.drop(columns=['property_type|rent_type|location'])], axis=1)
df.head()

,property_type,rent_type,location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index,Archivo
0,Casa,Arriendo,LA SOLEDAD NORTE Bogotá D.C..,1050000.0,3,2,63.0,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6,all
1,Casa,Arriendo,CIUDAD SALITRE SUR-ORIENTAL Bogotá D.C..,3930000.0,3,2,100.0,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3,all
2,Casa,Arriendo,VILLA DE LOS ALPES II SECTOR Bogotá D.C..,750000.0,3,1,90.0,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2,all
3,Casa,Arriendo,PARIS GAITAN Bogotá D.C..,3400000.0,5,4,71.0,casa ezquinera excelente ubicacion cinco alcob...,https://www.metrocuadrado.com/inmueble/arriend...,56.0,all
4,Casa,Arriendo,BALCONES DE ORIENTE Bogotá D.C..,1560000.0,4,3,96.0,"Excelente casa de tres niveles, buena ubicació...",https://www.metrocuadrado.com/inmueble/arriend...,47.1,all

In [237]:
df['price by m2'] = df['price']/df['surface']

In [238]:
lista = []
for x in df['url']:
    if x.find('-garajes')==-1:
        lista.append('0')
    else:
        lista.append(x[x.find('banos-')+6: x.find('-garajes')])
df['n_garajes'] = lista

In [239]:
df['tipo_producto'] = np.zeros(len(df)) # categoria 0
indices=df.query('80<=surface <120 and property_type=="Casa"').index
df.loc[indices,'tipo_producto'] = 1
indices=df.query('120<=surface <180 and property_type=="Casa"').index
df.loc[indices,'tipo_producto'] = 2
indices=df.query('180<=surface <240 and property_type=="Casa"').index
df.loc[indices,'tipo_producto'] = 3
indices=df.query('240<=surface <360 and property_type=="Casa"').index
df.loc[indices,'tipo_producto'] = 4
indices=df.query('360<=surface <=460 and property_type=="Casa"').index
df.loc[indices,'tipo_producto'] = 5
indices=df.query('40<=surface <60 and property_type=="Apartamento"').index
df.loc[indices,'tipo_producto'] = 6
indices=df.query('60<=surface <80 and property_type=="Apartamento"').index
df.loc[indices,'tipo_producto'] = 7
indices=df.query('80<=surface <=120 and property_type=="Apartamento"').index
df.loc[indices,'tipo_producto'] = 8

In [249]:
# 5
df_upz = pd.read_csv('data/asignacion_upz/barrio-upz.csv')
print(df_upz.shape)
df_upz

(468, 5)

    UPlCodigo  UPlTipo          UPlNombre       UPlArea   pro_location
0      UPZ100        1           GALERIAS  2.375681e+06        palermo
1      UPZ100        1           GALERIAS  2.375681e+06     belalcazar
2      UPZ100        1           GALERIAS  2.375681e+06          sears
3      UPZ100        1           GALERIAS  2.375681e+06       galerias
4      UPZ100        1           GALERIAS  2.375681e+06  banco central
..        ...      ...                ...           ...            ...
463     UPZ42        1            VENECIA  6.638420e+06     nuevo muzu
464     UPZ42        1            VENECIA  6.638420e+06      el condor
465     UPZ42        1            VENECIA  6.638420e+06       laguneta
466     UPZ52        1           LA FLORA  1.877160e+06    villa maria
467     UPZ60        1  PARQUE ENTRENUBES  4.190395e+06            NaN

[468 rows x 5 columns]