# Tarea 1: DS Lab
- Ricardo Arancibia
- José Díaz
- Javier Santibáñez

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Parte 1.**

In [2]:
#1.
df_all = pd.read_csv('data/raw/w{}/metrocuadrado_all_w{}.csv'.format(str(13),str(13)))
for NN in range(14,18):
    direc = 'data/raw/w{}/metrocuadrado_all_w{}.csv'.format(str(NN),str(NN))
    df_aux = pd.read_csv(direc)
    # df_all.merge(df_aux)
    df_all = pd.concat([df_all,df_aux], ignore_index= True)
#df_all['Archivo'] = 'all' 
df_all.drop_duplicates(inplace=True, ignore_index= True)
print(df_all.shape)
df_all.head()

(16295, 8)

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index
0,"Casa en Arriendo, LA SOLEDAD NORTE Bogotá D.C..",$1.050.000,3,2,63.0 m2,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6
1,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3,2,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3
2,"Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...",$750.000,3,1,90.0 m2,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2
3,"Casa en Arriendo, PARIS GAITAN Bogotá D.C..",$3.400.000,5,4,71.0 m2,casa ezquinera excelente ubicacion cinco alcob...,https://www.metrocuadrado.com/inmueble/arriend...,56.0
4,"Casa en Arriendo, BALCONES DE ORIENTE Bogotá D...",$1.560.000,4,3,96.0 m2,"Excelente casa de tres niveles, buena ubicació...",https://www.metrocuadrado.com/inmueble/arriend...,47.1

In [3]:
#1.
df_fur = pd.read_csv('data/raw/w{}/metrocuadrado_furnished_w{}.csv'.format(str(13),str(13)))
for NN in range(14,18):
    direc = 'data/raw/w{}/metrocuadrado_furnished_w{}.csv'.format(str(NN),str(NN))
    df_aux = pd.read_csv(direc)
    # df_fur.merge(df_aux)
    df_fur = pd.concat([df_fur,df_aux], ignore_index= True)
#df_fur['Archivo'] = 'furnished'
df_fur.drop_duplicates(inplace=True, ignore_index= True)
print(df_fur.shape)
df_fur.head()

(2099, 8)

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index
0,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3.0,2.0,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3
1,"Casa en Venta Y Arriendo, BELLAVISTA Bogotá D.C..",$1.300.000,3.0,2.0,72.0 m2,"hermosa casa en venta y en arriendo en, mandal...",https://www.metrocuadrado.com/inmueble/venta-c...,41.4
2,"Casa en Arriendo, PORTALES DEL NORTE Bogotá D.C..",$1.800.000,3.0,3.0,76.81 m2,Estrato 4. CASA TRIPLEX!! Exterior . Cuenta co...,https://www.metrocuadrado.com/inmueble/arriend...,41.3
3,"Casa en Venta Y Arriendo, SANTA SOFIA Bogotá D...",$1.500.000,5.0,3.0,76.22 m2,"Casa en Santa Sofia, excelente ubicación sobre...",https://www.metrocuadrado.com/inmueble/venta-c...,34.2
4,"Casa en Venta Y Arriendo, URBANIZACION SABANA ...",$145.000.000,3.0,2.0,77.0 m2,"Casa esquinera, de tres niveles, se venden mue...",https://www.metrocuadrado.com/inmueble/venta-c...,62.5

In [4]:
#1.

#Paso a -1 los nan primero para poder usar astype
df_fur['n_rooms'] = df_fur.n_rooms.fillna(value = -1).astype(int)
df_fur['n_bath'] = df_fur.n_bath.fillna(value = -1).astype(int)

#Convierto la columna al mismo tipo que en df_all
convert_types = {'n_rooms': str, 'n_bath': str}
df_fur = df_fur.astype(convert_types)

#Uno los df sobre todas las columnas
df2 = pd.merge(df_all, df_fur, how = 'outer', on = list(df_all.columns), indicator=True)


#Reporto el número de observaciones solo en archivo con furnished
right_only = len(df2.loc[df2['_merge'] == 'right_only', '_merge'])
print(f"Observaciones exclusivas del archivo con furnished: {right_only}")

#Cambio los nombres
df2 = df2.astype({'_merge': str})
df2.loc[(df2['_merge'] == 'both') | (df2['_merge'] == 'right_only'), '_merge'] = 'furnished'
df2.loc[(df2['_merge'] == 'left_only'), '_merge'] = 'normal'


#Cambio el nombre de la columna y la convierto a tipo categórica
df2.rename(columns = {'_merge': 'furnished'}, inplace = True)
df2.astype({'furnished': 'category'})

#Relleno valores faltante de df2 usando df_fur
#OBS: se usa un multi-indice triple para obtener un identificador único, salvo filas repetidas
#OBS2: drop = False es para no botar la columna del df y luego solo resetear los índices
A = df2.set_index(['url', 'surface', 'metrocuadrado_index'], drop = False).copy()
B = df_fur.set_index(['url', 'surface', 'metrocuadrado_index'], drop = False).copy()

#Realizo el relleno de datos
df = A.combine_first(B)


#Quito los valores -1 introducidos antes en n_rooms y n_bath para poder cambiar el type de la serie
df.loc[(df['n_rooms'] == str(-1)) , 'n_rooms'] = np.nan
df.loc[df['n_bath'] == str(-1), 'n_bath'] = np.nan

#Arreglo los índices y elimino duplicados
df.reset_index(drop = True, inplace = True)
df.drop_duplicates(inplace=True, ignore_index= True)

df

Observaciones exclusivas del archivo con furnished: 12

,details,furnished,metrocuadrado_index,n_bath,n_rooms,price,property_type|rent_type|location,surface,url
0,"Hermoso apartamento con acabados modernos, en ...",normal,61.8,1,1,$2.100.000,"Apartamento en Arriendo, Bogotá D.C..",44.0 m2,https://www.metrocuadrado.com/inmueble/arriend...
1,"APARTAESTUDIO, ACOGEDOR, 47 MTS, UNA ALCOBA, U...",normal,44.8,1,1,$1.520.000,"Apartamento en Arriendo, Bogotá D.C..",47.0 m2,https://www.metrocuadrado.com/inmueble/arriend...
2,"Hermoso apartaestudio con chimenea, excelente ...",normal,56.3,1,1,$2.300.000,"Apartamento en Arriendo, Bogotá D.C..",60.0 m2,https://www.metrocuadrado.com/inmueble/arriend...
3,"Hermoso apartamento con chimenea,garaje, depos...",normal,67.4,1,1,$2.060.000,"Apartamento en Arriendo, Bogotá D.C..",65.0 m2,https://www.metrocuadrado.com/inmueble/arriend...
4,Hermoso apartamento con espacios bien distribu...,normal,49.3,1,1,$1.850.000,"Apartamento en Arriendo, Bogotá D.C..",40.0 m2,https://www.metrocuadrado.com/inmueble/arriend...
...,...,...,...,...,...,...,...,...,...
16302,"VENDO O ARRIENDO LINDA CASA, AREA CONSTRUIDA 3...",normal,53.9,5,4,$10.000.000,"Casa en Venta Y Arriendo, VILLA DEL PRADO Bogo...",330.0 m2,https://www.metrocuadrado.com/inmueble/venta-c...
16303,Casa de dos pisos 1 piso cuenta con 1 parquead...,normal,20.1,2,3,$1.400.000,"Casa en Venta Y Arriendo, VILLA DEL RIO Bogotá...",110.0 m2,https://www.metrocuadrado.com/inmueble/venta-c...
16304,SE VENDE CASA DE DOS NIVELES PRIMER NIVEL CONS...,normal,41.8,2,2,$700.000,"Casa en Venta Y Arriendo, VILLA RIOS Bogotá D.C..",93.0 m2,https://www.metrocuadrado.com/inmueble/venta-c...
16305,Magnífica casa en venta o arriendo. Ubicada en...,normal,48.6,3,3,$2.800.000,"Casa en Venta Y Arriendo, VILLAS DEL MEDITERRA...",174.0 m2,https://www.metrocuadrado.com/inmueble/venta-c...
16306,Guaymaral. Espectacular casa en unidad cerrada...,normal,23.7,5,4,$9.000.000,"Casa en Venta Y Arriendo, VIVEROS Bogotá D.C..",376.0 m2,https://www.metrocuadrado.com/inmueble/venta-c...

In [5]:
df.isna().sum()

details                             110
furnished                             0
metrocuadrado_index                   0
n_bath                              232
n_rooms                              34
price                                 0
property_type|rent_type|location      0
surface                               0
url                                   0
dtype: int64

**Parte 2.**

**(a)**

In [6]:
#Limpio los valores nan

df.dropna(subset=['price','n_rooms','n_bath','surface'], inplace=True)
df.reset_index(drop=True,inplace=True)
print(df.shape)

(16056, 9)

In [7]:
#Limpio símbolos especiales y defino tipos adecuados

df['price'] = df['price'].apply(lambda x: x.replace('$','')).apply(lambda x: x.replace('.','')).astype(np.float64)
df['surface'] = df['surface'].apply(lambda x: x.replace('m2','')).astype(np.float64)
df['n_bath'] = df['n_bath'].apply(lambda x: x.replace('+','')).astype(np.int64)
df['n_rooms'] = df['n_rooms'].apply(lambda x: x.replace('+','')).astype(np.int64)

df.head()

,details,furnished,metrocuadrado_index,n_bath,n_rooms,price,property_type|rent_type|location,surface,url
0,"Hermoso apartamento con acabados modernos, en ...",normal,61.8,1,1,2100000.0,"Apartamento en Arriendo, Bogotá D.C..",44.0,https://www.metrocuadrado.com/inmueble/arriend...
1,"APARTAESTUDIO, ACOGEDOR, 47 MTS, UNA ALCOBA, U...",normal,44.8,1,1,1520000.0,"Apartamento en Arriendo, Bogotá D.C..",47.0,https://www.metrocuadrado.com/inmueble/arriend...
2,"Hermoso apartaestudio con chimenea, excelente ...",normal,56.3,1,1,2300000.0,"Apartamento en Arriendo, Bogotá D.C..",60.0,https://www.metrocuadrado.com/inmueble/arriend...
3,"Hermoso apartamento con chimenea,garaje, depos...",normal,67.4,1,1,2060000.0,"Apartamento en Arriendo, Bogotá D.C..",65.0,https://www.metrocuadrado.com/inmueble/arriend...
4,Hermoso apartamento con espacios bien distribu...,normal,49.3,1,1,1850000.0,"Apartamento en Arriendo, Bogotá D.C..",40.0,https://www.metrocuadrado.com/inmueble/arriend...

In [ ]:
df.price.nsmallest(10)

In [ ]:
df.surface.nsmallest(10)

In [8]:
#Quito los precios nulos y las superficies menores o iguales a 4m^2

df.loc[df.price == 0, 'price'] = np.nan
df.loc[df.surface <= 4, 'surface'] = np.nan

df.dropna(subset = ['price', 'surface'], how = 'any', inplace = True)

print(f'El DataFrame queda con {len(df) } observaciones ')

df

El DataFrame queda con 16047 observaciones

,details,furnished,metrocuadrado_index,n_bath,n_rooms,price,property_type|rent_type|location,surface,url
0,"Hermoso apartamento con acabados modernos, en ...",normal,61.8,1,1,2100000.0,"Apartamento en Arriendo, Bogotá D.C..",44.0,https://www.metrocuadrado.com/inmueble/arriend...
1,"APARTAESTUDIO, ACOGEDOR, 47 MTS, UNA ALCOBA, U...",normal,44.8,1,1,1520000.0,"Apartamento en Arriendo, Bogotá D.C..",47.0,https://www.metrocuadrado.com/inmueble/arriend...
2,"Hermoso apartaestudio con chimenea, excelente ...",normal,56.3,1,1,2300000.0,"Apartamento en Arriendo, Bogotá D.C..",60.0,https://www.metrocuadrado.com/inmueble/arriend...
3,"Hermoso apartamento con chimenea,garaje, depos...",normal,67.4,1,1,2060000.0,"Apartamento en Arriendo, Bogotá D.C..",65.0,https://www.metrocuadrado.com/inmueble/arriend...
4,Hermoso apartamento con espacios bien distribu...,normal,49.3,1,1,1850000.0,"Apartamento en Arriendo, Bogotá D.C..",40.0,https://www.metrocuadrado.com/inmueble/arriend...
...,...,...,...,...,...,...,...,...,...
16051,"VENDO O ARRIENDO LINDA CASA, AREA CONSTRUIDA 3...",normal,53.9,5,4,10000000.0,"Casa en Venta Y Arriendo, VILLA DEL PRADO Bogo...",330.0,https://www.metrocuadrado.com/inmueble/venta-c...
16052,Casa de dos pisos 1 piso cuenta con 1 parquead...,normal,20.1,2,3,1400000.0,"Casa en Venta Y Arriendo, VILLA DEL RIO Bogotá...",110.0,https://www.metrocuadrado.com/inmueble/venta-c...
16053,SE VENDE CASA DE DOS NIVELES PRIMER NIVEL CONS...,normal,41.8,2,2,700000.0,"Casa en Venta Y Arriendo, VILLA RIOS Bogotá D.C..",93.0,https://www.metrocuadrado.com/inmueble/venta-c...
16054,Magnífica casa en venta o arriendo. Ubicada en...,normal,48.6,3,3,2800000.0,"Casa en Venta Y Arriendo, VILLAS DEL MEDITERRA...",174.0,https://www.metrocuadrado.com/inmueble/venta-c...
16055,Guaymaral. Espectacular casa en unidad cerrada...,normal,23.7,5,4,9000000.0,"Casa en Venta Y Arriendo, VIVEROS Bogotá D.C..",376.0,https://www.metrocuadrado.com/inmueble/venta-c...

**(b)**

In [9]:
new_columns = df['property_type|rent_type|location'].str.split(",", expand = True) 
df['property_type'] = new_columns[0].str.split("en", expand = True)[0].str.strip()
df['rent_type'] = new_columns[0].str.split("en ", expand = True)[1].str.strip()
df['location'] = new_columns[1].str.strip().str.slice(0,-13,1).str.upper()

df.drop(['property_type|rent_type|location'], axis=1, inplace=True)

df

,details,furnished,metrocuadrado_index,n_bath,n_rooms,price,surface,url,property_type,rent_type,location
0,"Hermoso apartamento con acabados modernos, en ...",normal,61.8,1,1,2100000.0,44.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,
1,"APARTAESTUDIO, ACOGEDOR, 47 MTS, UNA ALCOBA, U...",normal,44.8,1,1,1520000.0,47.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,
2,"Hermoso apartaestudio con chimenea, excelente ...",normal,56.3,1,1,2300000.0,60.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,
3,"Hermoso apartamento con chimenea,garaje, depos...",normal,67.4,1,1,2060000.0,65.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,
4,Hermoso apartamento con espacios bien distribu...,normal,49.3,1,1,1850000.0,40.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,
...,...,...,...,...,...,...,...,...,...,...,...
16051,"VENDO O ARRIENDO LINDA CASA, AREA CONSTRUIDA 3...",normal,53.9,5,4,10000000.0,330.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,VILLA DEL PRADO
16052,Casa de dos pisos 1 piso cuenta con 1 parquead...,normal,20.1,2,3,1400000.0,110.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,VILLA DEL RIO
16053,SE VENDE CASA DE DOS NIVELES PRIMER NIVEL CONS...,normal,41.8,2,2,700000.0,93.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,VILLA RIOS
16054,Magnífica casa en venta o arriendo. Ubicada en...,normal,48.6,3,3,2800000.0,174.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,VILLAS DEL MEDITERRANEO
16055,Guaymaral. Espectacular casa en unidad cerrada...,normal,23.7,5,4,9000000.0,376.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,VIVEROS

**Parte 3.**

**(a)**

In [10]:
df['price by m2'] = df['price']/df['surface']

**(b)**

In [11]:
df['n_garajes'] = [ '0' if x.find('-garajes')==-1 else x[x.find('banos-')+6: x.find('-garajes')] for x in df['url']]
df['n_garajes'] = df['n_garajes'].apply(lambda x: x.replace('4+','5')).astype(np.int64)

**Parte 4.**

In [12]:
df['tipo_producto'] = np.zeros(len(df)) # categoria 0
indices=df.query('80<=surface <120 and property_type=="Casa"').index
df.loc[indices,'tipo_producto'] = 1
indices=df.query('120<=surface <180 and property_type=="Casa"').index
df.loc[indices,'tipo_producto'] = 2
indices=df.query('180<=surface <240 and property_type=="Casa"').index
df.loc[indices,'tipo_producto'] = 3
indices=df.query('240<=surface <360 and property_type=="Casa"').index
df.loc[indices,'tipo_producto'] = 4
indices=df.query('360<=surface <=460 and property_type=="Casa"').index
df.loc[indices,'tipo_producto'] = 5
indices=df.query('40<=surface <60 and property_type=="Apartam"').index
df.loc[indices,'tipo_producto'] = 6
indices=df.query('60<=surface <80 and property_type=="Apartam"').index
df.loc[indices,'tipo_producto'] = 7
indices=df.query('80<=surface <=120 and property_type=="Apartam"').index
df.loc[indices,'tipo_producto'] = 8

**Parte 5.**

In [13]:
# 5
df_upz = pd.read_csv('data/asignacion_upz/barrio-upz.csv')
print(df_upz.shape)
df_upz

(468, 5)

    UPlCodigo  UPlTipo          UPlNombre       UPlArea   pro_location
0      UPZ100        1           GALERIAS  2.375681e+06        palermo
1      UPZ100        1           GALERIAS  2.375681e+06     belalcazar
2      UPZ100        1           GALERIAS  2.375681e+06          sears
3      UPZ100        1           GALERIAS  2.375681e+06       galerias
4      UPZ100        1           GALERIAS  2.375681e+06  banco central
..        ...      ...                ...           ...            ...
463     UPZ42        1            VENECIA  6.638420e+06     nuevo muzu
464     UPZ42        1            VENECIA  6.638420e+06      el condor
465     UPZ42        1            VENECIA  6.638420e+06       laguneta
466     UPZ52        1           LA FLORA  1.877160e+06    villa maria
467     UPZ60        1  PARQUE ENTRENUBES  4.190395e+06            NaN

[468 rows x 5 columns]

In [14]:
df_upz['pro_location'] = df_upz['pro_location'].str.upper()
pd.unique(df_upz['pro_location'])

array(['PALERMO', 'BELALCAZAR', 'SEARS', 'GALERIAS', 'BANCO CENTRAL',
       'EL CAMPIN', 'SAN JOSE', 'LAS MARGARITAS', 'CENTRO NARIÑO',
       'GRAN AMERICA', 'ACEVEDO TEJADA', 'EL RECUERDO', 'QUINTA PAREDES',
       'SALITRE I', 'ARMENIA', 'LA VICTORIA', 'CANTAGALLO',
       'CENTRO ADMINISTRATIVO', 'LA SOLEDAD', 'SANTA TERESA',
       'SANTA TERESITA', 'LA MACARENA', 'BOGOTÁ D.C.', 'SAN MARTIN',
       'LA MERCED', 'SAMPER', 'LA CAPUCHINA', 'SAGRADO CORAZON',
       'GRAN BRITALIA I', 'BRITALIA', 'ESTACION CENTRAL',
       'ZONA INDUSTRIAL', 'AMERICAS OCCIDENTAL', 'I SECTOR',
       'VILLEMAR FONTIBON', 'CENTENARIO', 'EL CARMEN FONTIBON', 'CARMEN',
       'GRANADA', 'COFRADIA', 'CENTRO FONTIBON', 'BOSTON', 'VERSALLES',
       'ATAHUALPA', 'EL SALITRE', 'POPULAR MODELO', 'TAPETE', 'ESTRELLA',
       'DOCE DE OCTUBRE', 'JORGE ELIECER GAITAN', 'SAN FERNANDO',
       'ESCUELA MILITAR', 'CAPELLANIA', 'MODELIA OCCIDENTAL', 'MODELIA',
       'MALLORCA', 'PLENITUD', 'LAGO GAITAN', 'PARQUE POPULAR SALITRE',
       'EL NOGAL', 'EL RETIRO', 'BOSQUES DE SAN JORGE', 'TUNA ALTA',
       'TURINGIA II', 'LAS FLORES', 'TUNA', 'TUNA BAJA', 'ACACIAS',
       'SUBA', 'TIBABUYES II', 'TIBABUYES', 'PINOS DE LOMBARDIA',
       'PORTAL DE LAS MERCEDES', 'BOCHICA II', 'BOLIVIA', 'LOS CEDROS',
       'LOS NARANJOS', 'NARANJOS', 'LOS CEREZOS', 'CIUDADELA REAL',
       'LA CAROLINA', 'CALLEJA', 'LA CALLEJA', 'MOLINOS NORTE',
       'CAMPO ALEGRE', 'CHICO NAVARRA', 'EL PORVENIR', 'SAN PATRICIO',
       'SANTA BARBARA OCCIDENTAL', 'SANTA BARBARA CENTRAL-USAQUÉN',
       'ENTRERIOS', 'LA CASTELLANA', 'RIONEGRO', 'ANDES NORTE',
       'LOS ANDES NORTE', 'SAN LUIS', 'FLORENCIA', 'NICOLÁS DE FEDERMÁN',
       'NICOLAS DE FEDERMAN', 'PAULO VI', 'LA CABAÑA',
       'LOS CEDROS ORIENTAL', 'SANTA SOFIA', 'JAZMIN', 'MARLY', 'QUESADA',
       'CHAPINERO CENTRAL', 'CHAPINERO NORTE', 'LOURDES', 'CONEJERA',
       'SUCRE', nan, 'BOSQUE CALDERON', 'INGEMAR', 'LA SALLE', 'EMAUS',
       'CHAPINERO ALTO', 'BUENOS AIRES', 'SAN JAVIER', 'QUINTA RAMOS',
       'NARIÑO SUR', 'CALVO SUR', 'SALAZAR GOMEZ', 'CENTRO INDUSTRIAL',
       'RESTREPO OCCIDENTAL', 'MONTERREY', 'LA FAVORITA', 'EL LISTON',
       'RICAURTE', 'SAMPER MENDOZA', 'COLSEGUROS', 'VENECIA', 'TIMIZA',
       'SAN VICTORINO', 'LA VERACRUZ', 'VERACRUZ', 'MONACO', 'LAS NIEVES',
       'VILLA MENDOZA', 'EDUARDO SANTOS', 'LA LIBERIA',
       'SANTA ISABEL SUR', 'SANTA ISABEL', 'OLARTE', 'VILLA DEL RIO',
       'ALCALA', 'COSTA AZUL', 'SANTA HELENA', 'SANTA HELENA I',
       'VICTORIA NORTE', 'MAZUREN', 'NIZA SUR', 'PRADO VERANIEGO',
       'PRADO VERANIEGO SUR', 'NIZA NORTE', 'NIZA', 'NIZA SUBA',
       'NIZA CORDOBA', 'SAN JORGE', 'LAS VILLAS', 'LA COLINA CAMPESTRE',
       'CIUDAD JARDIN NORTE', 'IBERIA', 'CASABLANCA SUBA',
       'LA ESPERANZA SUR', 'TEUSAQUILLO', 'NORMANDIA',
       'NORMANDIA OCCIDENTAL', 'SANTA CECILIA', 'EL ENCANTO',
       'LOS MONJES', 'VILLA LUZ', 'SAN JOAQUIN', 'LISBOA',
       'ALTOS DE SUBA', 'CHICO RESERVADO', 'MINUTO DE DIOS',
       'CASA BLANCA', 'PARIS GAITAN', 'EL MORISCO', 'PARIS', 'EL SOL',
       'CIUDAD QUIRIGUA', 'CIUDAD BACHUE I', 'CIUDAD BACHUE',
       'MARIA CRISTINA', 'EL PALMAR', 'JERICO', 'EL REFUGIO', 'MARIA PAZ',
       'LA ALAMEDA', 'SAN MIGUEL', 'LA PAZ', 'LA NUEVA GLORIA',
       'ARBORIZADORA BAJA', 'MADELENA II Y IV', 'EL SEMINARIO',
       'VILLA DEL PRADO', 'NUEVA ZELANDIA', 'MIRANDELA', 'CANTALEJO',
       'GILMAR', 'URBANIZACION CORDOBA', 'JARDINES DEL NORTE',
       'JARDIN DEL NORTE', 'GRANADA NORTE', 'LA ESTRADITA', 'LA ESTRADA',
       'METROPOLIS', 'LAS FERIAS OCCIDENTAL', 'LAS FERIAS', 'BONANZA',
       'BOSQUE POPULAR', 'EL ROLIN', 'FERROCAJA',
       'URBANIZACION EL PARQUE', 'EL PINO', 'ESTORIL', 'PASADENA',
       'PUENTE LARGO', 'CASA BLANCA SUBA', 'JORGE CORTES', 'EL BATAN',
       'BATAN', 'MULTIFAMILIARES LA PAZ', 'CALANDAIMA',
       'SANTA FE DEL TINTAL', 'BALCONES DE ORIENTE', 'LAS ORQUIDEAS',
       'LA PRIMAVERA', 'PRADERA NORTE', 'LA PRADERA', 'VILLA MAGDALA',
       'TOBERIN', 'SAN DIEGO', 'CANAPRO', 'EL REDIL', 'ALFONSO LOPEZ',
       'COMUNEROS', 'LA ESPAÑOLA', 'EL PLAN', 'MILENTA',
       'PROVIVIENDA NORTE', 'GALAN', 'PUENTE ARANDA', 'COLON',
       'LA TRINIDAD', 'CIUDAD TECHO', 'LOS ANGELES', 'EL PROGRESO',
       'LA CHUCUA', 'SANTA CATALINA', 'EL RUBI', 'LAGO TIMIZA I',
       'TIMIZA A', 'ALOHA SECTOR SUR', 'BOSQUE DE MODELIA', 'LUSITANIA',
       'JARDIN BOTANICO', 'BAVARIA', 'VILLA CLAUDIA', 'LA ISABELA',
       'LA TRIGUERA', 'LA IGUALDAD', 'HIPOTECHO', 'HIPOTECHO II',
       'HIPOTECHO III', 'CENTRO AMERICAS', 'MANDALAY II', 'BELMIRA',
       'GIRALDA', 'EL LAUREL', 'SIERRAS DEL MORAL', 'SIERRAS DE MORAL',
       'CONTADOR', 'CEDRO SALAZAR', 'CEDRO GOLF', 'LOMBARDIA',
       'LA EMILIA', 'CEDRO BOLIVAR', 'PARQUES DE LORENA',
       'EL CONTADOR-USAQUÉN', 'EL CONTADOR', 'EL CEDRO', 'LOS CEDRITOS',
       'CEDRITOS', 'ACACIAS USAQUEN', 'VILLA DORADO NORTE', 'POTOSI',
       'JERUSALEN', 'BELLAVISTA', 'SAN CARLOS', 'GUSTAVO RESTREPO',
       'OLAYA', 'SAN FRANCISCO', 'LAS ACACIAS', 'LA AURORA', 'TORCA',
       'EL MORAL', 'COUNTRY CLUB', 'SAN CRISTOBAL NORTE', 'BARRANCAS',
       'BARRANCAS NORTE', 'LA PATRIA', 'USAQUEN', 'SANTA ANA OCCIDENTAL',
       'SANTA BARBARA ORIENTAL', 'SANTA ANA ORIENTAL', 'BELLA SUIZA',
       'GINEBRA', 'ESCUELA DE INFANTERIA', 'RINCON DEL CHICO',
       'SAN BASILIO', 'ALAMOS', 'ALAMOS NORTE', 'BOSQUES DE MARIANA',
       'LIBANO', 'VILLAS DE GRANADA', 'VILLAS DE GRANADA I', 'EL MORTIÑO',
       'GRAN GRANADA', 'CLUB LOS LAGARTOS', 'QUINTA CAMACHO',
       'LA PORCIUNCULA', 'PORCIUNCULA', 'ESPARTILLAL', 'EL ESPARTILLAL',
       'LA CABRERA', 'VILLA INES', 'CHICO', 'EL CHICO', 'ANTIGUO COUNTRY',
       'CHICO NORTE II', 'CHICO NORTE', 'CHICÓ NORTE', 'CHICO NORTE III',
       'CHICO NORTE II SECTOR', 'CHICO NORTE III SECTOR', 'QUINTA MUTIS',
       'BAQUERO', 'BENJAMIN HERRERA', 'CONCEPCION NORTE',
       'SIETE DE AGOSTO', 'ALCAZARES', 'COLOMBIA', '0', 'SAN FELIPE',
       'ALCAZARES NORTE', 'JUAN XXIII', 'POLO CLUB', 'EL DORADO',
       'GIRARDOT', 'LAS AGUAS', 'BOSQUE IZQUIERDO', 'LA PERSEVERANCIA',
       'BELEN', 'SANTA BARBARA', 'SANTA BARBARA ALTA',
       'SANTA BARBARA CENTRAL', 'EGIPTO', 'VILLA SAGRARIO', 'LA CATEDRAL',
       'SIMON BOLIVAR', 'EL ROSARIO', 'H.B.', 'EL TRIUNFO',
       'LAS MERCEDES', 'SAN ANTONIO NORTE', 'LOS CEDROS-USAQUÉN',
       'SANTA MARIA', 'COLINA', 'EL CODITO', 'TIBABITA', 'EL RINCON',
       'VILLA ELISA', 'LOS ROSALES', 'BOYACA', 'SANTA HELENITA',
       'JOSE JOAQUIN VARGAS', 'FLORIDA BLANCA', 'LA FLORIDA', 'LA GRANJA',
       'CARVAJAL', 'CIUDAD BERNA', 'CARACAS', 'SEVILLA',
       'CIUDAD JARDIN SUR', 'LA CONCORDIA', 'RESTREPO', 'SANTANDER',
       'LA FRAGUITA', 'LA FRAGUA', 'OSPINA PEREZ SUR', 'MUZU',
       'AUTOPISTA MUZU', 'LA ALQUERIA', 'SANTA MATILDE', 'LA ASUNCION',
       'REMANSO SUR', 'BOCHICA', 'VERAGUAS', 'SAN EUSEBIO', 'TIBANA',
       'LA CAMELIA', 'PRIMAVERA OCCIDENTAL', '20 DE JULIO', 'ATENAS',
       'SAN ISIDRO', 'EL PORTAL', 'MARSELLA', 'LA INDEPENDENCIA',
       'ESCOCIA', 'BRASILIA', 'LA LIBERTAD', 'LAS AMERICAS', 'LOS ANDES',
       'NUEVA GRANADA', 'LA CAPILLA', 'JOSE ANTONIO GALAN', 'EL JARDIN',
       'LA ESMERALDA', 'LAS CRUCES', 'SAN BERNARDO', 'EL CEREZO',
       'EL TINTAL', 'EL TINTAL CENTRAL', 'EL RINCON DE LOS ANGELES',
       'NUEVO KENNEDY', 'URBANIZACION CASTILLA', 'VILLA ALSACIA 2',
       'VILLA ALSACIA', 'VALLADOLID', 'EL VERGEL OCCIDENTAL',
       'LA FELICIDAD', 'REMANSO', 'ESTACION VICTORIA', 'LA MAGDALENA',
       'SABANA GRANDE', 'ZONA FRANCA', 'SAN CAYETANO', 'RAFAEL URIBE',
       'MARCO FIDEL SUAREZ', 'QUIROGA CENTRAL', 'CATALUNA', 'INGLES',
       'LIBERTADOR', 'SANTIAGO PEREZ', 'MILLAN', 'SANTA BIBIANA',
       'INDIA CATALINA', 'TUNJUELITO', 'EL TEJAR', 'CLARET', 'NUEVO MUZU',
       'EL CONDOR', 'LAGUNETA', 'VILLA MARIA'], dtype=object)

In [15]:
df_UPZ = pd.merge(df, df_upz, how = 'left', left_on = 'location', right_on = 'pro_location')
df_UPZ

,details,furnished,metrocuadrado_index,n_bath,n_rooms,price,surface,url,property_type,rent_type,location,price by m2,n_garajes,tipo_producto,UPlCodigo,UPlTipo,UPlNombre,UPlArea,pro_location
0,"Hermoso apartamento con acabados modernos, en ...",normal,61.8,1,1,2100000.0,44.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,,47727.272727,1,6.0,NaN,NaN,NaN,NaN,NaN
1,"APARTAESTUDIO, ACOGEDOR, 47 MTS, UNA ALCOBA, U...",normal,44.8,1,1,1520000.0,47.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,,32340.425532,1,6.0,NaN,NaN,NaN,NaN,NaN
2,"Hermoso apartaestudio con chimenea, excelente ...",normal,56.3,1,1,2300000.0,60.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,,38333.333333,1,7.0,NaN,NaN,NaN,NaN,NaN
3,"Hermoso apartamento con chimenea,garaje, depos...",normal,67.4,1,1,2060000.0,65.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,,31692.307692,1,7.0,NaN,NaN,NaN,NaN,NaN
4,Hermoso apartamento con espacios bien distribu...,normal,49.3,1,1,1850000.0,40.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,,46250.000000,1,6.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16042,"VENDO O ARRIENDO LINDA CASA, AREA CONSTRUIDA 3...",normal,53.9,5,4,10000000.0,330.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,VILLA DEL PRADO,30303.030303,3,4.0,UPZ17,1.0,SAN JOSE DE BAVARIA,4.382732e+06,VILLA DEL PRADO
16043,Casa de dos pisos 1 piso cuenta con 1 parquead...,normal,20.1,2,3,1400000.0,110.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,VILLA DEL RIO,12727.272727,1,1.0,UPZ49,1.0,APOGEO,2.105837e+06,VILLA DEL RIO
16044,SE VENDE CASA DE DOS NIVELES PRIMER NIVEL CONS...,normal,41.8,2,2,700000.0,93.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,VILLA RIOS,7526.881720,1,1.0,NaN,NaN,NaN,NaN,NaN
16045,Magnífica casa en venta o arriendo. Ubicada en...,normal,48.6,3,3,2800000.0,174.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,VILLAS DEL MEDITERRANEO,16091.954023,2,2.0,NaN,NaN,NaN,NaN,NaN
16046,Guaymaral. Espectacular casa en unidad cerrada...,normal,23.7,5,4,9000000.0,376.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,VIVEROS,23936.170213,4,5.0,NaN,NaN,NaN,NaN,NaN

In [18]:
percNonUPZ = 100 * df_UPZ['pro_location'].isna().sum()/df_UPZ.shape[0]

print(f'Porcentaje de observaciones a las que no se les puede adjuntar UPZ: \n {np.round(percNonUPZ,2)} %')

Porcentaje de observaciones a las que no se les puede adjuntar UPZ:
 11.95 %

**Parte 6.**

In [19]:
# 6
df_stdpob = pd.read_csv('data/estadisticas_upz/estadisticas_poblacion.csv')
df_stdpob.drop(['Unnamed: 0', 'nomupz'], inplace=True, axis=1)
df_stdpob

,upz,personas,trabajoinf_ninos_5_17_anos_perc,trabajoinfampliado_ninos_5_17_anos_perc,jovenes_14_24_anos_nini_perc,indice_envegecimiento,jefe_mujer_perc,adultos_mayores_pobres_perc
0,UPZ11,68430,0.6,3.9,20.7,35.2,44.579934,17.931973
1,UPZ12,50037,1.8,16.7,9.1,54.7,36.279630,5.420442
2,UPZ13,102981,0.0,3.5,5.5,118.4,33.286852,3.250000
3,UPZ18,69961,0.4,7.2,9.4,42.7,36.465059,9.439051
4,UPZ19,121158,0.3,8.0,8.2,59.1,32.887202,5.406574
...,...,...,...,...,...,...,...,...
107,UPZ63,63145,1.8,8.5,25.3,16.9,46.147748,44.985942
108,UPZ90,53837,0.0,30.2,8.2,81.4,47.033692,5.814843
109,UPZ99,53837,0.0,30.2,8.2,81.4,47.033692,5.814843
110,UPZ97,52951,0.0,17.0,4.3,153.4,44.667815,5.401917
111,UPZ88,52951,0.0,17.0,4.3,153.4,44.667815,5.401917

In [20]:
df_indsec = pd.read_csv('data/estadisticas_upz/indice_inseguridad.csv')
df_indsec.drop(['Unnamed: 0', 'UPlNombre2'], inplace=True, axis=1)
df_indsec

    UPlCodigo  indice_inseguridad
0      UPZ100            0.671141
1       UPZ83            0.000000
2      UPZ107            2.318841
3      UPZ101            3.629032
4       UPZ91           13.537118
..        ...                 ...
113     UPZ42            2.967359
114         3           80.000000
115         4            0.000000
116         5            0.000000
117         1           97.916667

[118 rows x 2 columns]

In [21]:
df_green = pd.read_csv('data/estadisticas_upz/porcentaje_areas_verdes.csv')
df_green['cod_upz'] = 'UPZ' + df_green['cod_upz'].astype(int).astype(str)
df_green.drop(['Unnamed: 0', 'upz'], inplace=True, axis=1)
df_green

    cod_upz  areas_verdes_perc
0     UPZ51          58.196667
1     UPZ87          85.924848
2      UPZ1          83.966495
3     UPZ64          85.778144
4     UPZ29          37.852289
..      ...                ...
108   UPZ32          43.425594
109   UPZ95           8.989821
110  UPZ117           3.855842
111    UPZ9          31.543824
112   UPZ30          26.656117

[113 rows x 2 columns]

In [22]:
df_STD = pd.merge(df_UPZ, df_stdpob, how = 'left', left_on = 'UPlCodigo', right_on = 'upz')
df_STD = pd.merge(df_STD, df_indsec, how = 'left', on = 'UPlCodigo')
df_STD = pd.merge(df_STD, df_green, how = 'left', left_on = 'UPlCodigo', right_on = 'cod_upz')
df_STD

,details,furnished,metrocuadrado_index,n_bath,n_rooms,price,surface,url,property_type,rent_type,...,personas,trabajoinf_ninos_5_17_anos_perc,trabajoinfampliado_ninos_5_17_anos_perc,jovenes_14_24_anos_nini_perc,indice_envegecimiento,jefe_mujer_perc,adultos_mayores_pobres_perc,indice_inseguridad,cod_upz,areas_verdes_perc
0,"Hermoso apartamento con acabados modernos, en ...",normal,61.8,1,1,2100000.0,44.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"APARTAESTUDIO, ACOGEDOR, 47 MTS, UNA ALCOBA, U...",normal,44.8,1,1,1520000.0,47.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Hermoso apartaestudio con chimenea, excelente ...",normal,56.3,1,1,2300000.0,60.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Hermoso apartamento con chimenea,garaje, depos...",normal,67.4,1,1,2060000.0,65.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Hermoso apartamento con espacios bien distribu...,normal,49.3,1,1,1850000.0,40.0,https://www.metrocuadrado.com/inmueble/arriend...,Apartam,Arriendo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16044,"VENDO O ARRIENDO LINDA CASA, AREA CONSTRUIDA 3...",normal,53.9,5,4,10000000.0,330.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,...,66427.0,0.2,17.6,11.2,52.0,38.074812,3.631726,24.175824,UPZ17,14.910678
16045,Casa de dos pisos 1 piso cuenta con 1 parquead...,normal,20.1,2,3,1400000.0,110.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,...,56247.0,1.5,3.4,17.5,37.4,33.804143,12.381109,4.651163,UPZ49,45.298588
16046,SE VENDE CASA DE DOS NIVELES PRIMER NIVEL CONS...,normal,41.8,2,2,700000.0,93.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16047,Magnífica casa en venta o arriendo. Ubicada en...,normal,48.6,3,3,2800000.0,174.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16048,Guaymaral. Espectacular casa en unidad cerrada...,normal,23.7,5,4,9000000.0,376.0,https://www.metrocuadrado.com/inmueble/venta-c...,Casa,Venta Y Arriendo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_STD['Densidad'] = df_STD['personas']/df_STD['UPlArea']
df_STD['Densidad'].replace([np.inf, -np.inf], np.nan, inplace=True)
df_STD.dropna(subset=['Densidad'], how="all", inplace=True)
df_STD['Densidad'].max()

0.07381499667318157

In [24]:
print('Numero de observaciones a los que no se les puede adjuntar un codigo UPZ: ', df_STD['UPlCodigo'].isna().sum())
print("Porcentaje asignable: ", round((len(df_STD)-df_STD['UPlCodigo'].isna().sum())/len(df_STD)*100,1))
df_STD.dropna(subset=['UPlCodigo'], inplace=True)
df_STD.reset_index(drop=True,inplace=True)

Numero de observaciones a los que no se les puede adjuntar un codigo UPZ:  0
Porcentaje asignable:  100.0